doctype html

html
	head
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
	body
		div.text-center
			h1
				a(href='http://kiitos.heartbank.com/connect?callback=http://localhost:3000/receiver') Connect with HeartBank
			h1 To give/transfer: @ extension +$ amount
			h1 To take/transfer: @ extension -$ amount
			h1 To deposit: # extension +$ amount
			h1 To withdraw: # extension -$ amount
			h1 To reward: * extension +$ amount
			h1 To donate: * extension -$ amount
			h1 To anonymize: <3
		
		